<div class="container">

    <div class="row">
        <div class="col-md-12" ng-repeat="authorPost in authorPosts">
            <h2>
                <a ui-sref="post({ id: authorPost.id, slug:authorPost.slug })" ng-bind-html="authorPost.title.rendered"></a>
            </h2>
            <hr>
            <p ng-bind-html="authorPost.excerpt.rendered"></p>
            <a class="btn btn-primary" ui-sref="post({ id: authorPost.id, slug:authorPost.slug })">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
        </div>
        <ul class="pager">
            <li class="previous" ng-if="currentPage && currentPage != 1">
                <button class="btn btn-primary" ui-sref="author({id: authorId, page: currentPage - 1 })">&larr; Older</button>
            </li>
            <li class="next">
                <button class="btn btn-primary" ui-sref="author({id: authorId, page: currentPage + 1 })">Newer &rarr;</button>
            </li>
        </ul>
    </div>
</div>